@{
    ViewData["Title"] = "Contact";
}
<div class="container" style="padding-bottom: 20px;">
    <h1 class="text-center">CONTACT US</h1>
    <img class="img-responsive center-block" src="http://www.parada-thai-massage.co.uk/images/map_placeholder.png" alt="Map Image">    
</div>

<div class="container text-center">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <address>
            <strong>General Contact</strong><br>
                    1355 Market Street, Suite 900<br>
                    San Francisco, CA 94103<br>
                    Phone: (123) 456-7895<br>
                    Email: Office@company.com<br>
        </address>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <address>
            <strong>Sales/Marketing Contact</strong><br>
                    1355 Market Street, Suite 900<br>
                    San Francisco, CA 94103<br>
                    Phone: (123) 456-4561<br>
                    Email: SalesMarketing@company.com<br>
        </address>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <address>
            <strong>HR Contact</strong><br>
                    1355 Market Street, Suite 900<br>
                    San Francisco, CA 94103<br>
                    Phone: (123) 456-7890<br>
                    Email: HR@company.com<br>
        </address>
    </div>        
    
</div>
