
<div class="container" style="padding-top: 20px;">
  <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg" alt="Image" class="img-responsive img-circle center-block">  
    <h1 class="text-center">COMPANY NAME</h1>
</div>

<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 homeFeatures">
      <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg" alt="Image" class="img-responsive center-block restrictImage">
      <h3>Title</h3>
      <small class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 homeFeatures">  
      <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg" alt="Image" class="img-responsive center-block restrictImage">
      <h3>Title</h3>
      <small class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>   
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 homeFeatures">  
      <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg" alt="Image" class="img-responsive center-block restrictImage"> 
      <h3>Title</h3>
      <small class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
    </div>
  </div>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
