body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}

.centered{
    text-align: center;
}

.thumb-height{
    height: 440px;
}

h3{
    font-weight: bold;
}

.restrictImage{
    width: 31%;
    margin-right: 2%;
}

.homeFeatures{
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.padding{
    padding-top: 10px;
}

.mediaBoxes{
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-align{
    margin-right: 20px;
    align-self: right;
}
.Carousel-buttons{
    padding-bottom: 20px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    h1{
        font-size:24px;
    }

    .resizeImage{
        min-width: 300px;
        display: block;
        width: 60%;
        margin: 0 auto;
    }

    .thumb-height{
        height: auto;
    }

    .Carousel-buttons{
        padding-bottom: 25px;
    }
}


